In [ ]:
# Python的組合類型 (list, tuple, dictionary, set)

In [7]:
# list 列表
a_list = [1, 2, 3, 4, 5] # with sequence
print(f'the third element in a_list: {a_list[2]}') # index start with 0

the third element in a_list: 3

In [8]:
# tuple 元組 (不可變列表)
a_tuple = (1, 9, 9, 8, 0, 4, 1, 4) # unable to modify elements after declare
print(f'the second element in a_tuple: {a_tuple[1]}')

the second element in a_tuple: 9

In [10]:
# dictionary 字典 (無序)
a_dict = {
    1601: 'Peter',
    1602: 'Lucas',
    1603: 'Brian'
}
print(f'Use key to get value: {a_dict[1603]}')

Use key to get value: Brian

In [11]:
# set 集合 (一系列無序、不存在相等的集合)
a_set = {'apple', 'orange', 'banana', 'apple'}
print(a_set)

{'banana', 'apple', 'orange'}

In [12]:
# declaring var at the same time
x, y = 1, 2
print(f'x is {x}')
print(f'y is {y}')

x is 1
y is 2

In [13]:
# exanging x and y
x, y = y, x
print(f'x is {x}')
print(f'y is {y}')

x is 2
y is 1

In [18]:
# for-loop
res = 0
for i in [1, 2, 3, 4, 5]:
  res += i
  i += 1
print(f'res: {res}')

res: 15

In [19]:
# while-loop
res = 0
i = 1
while i <= 5:
  res += i
  i += 1
print(f'i: {i}') # i=6, so it cannot be put into while-loop
print(f'res: {res}')

i: 6
res: 15

In [22]:
# input (inputted value is String)
a_input = input('Please enter an int: ')
print(f'the inputted int is: {a_input}')
print(f'type of inputted value:{type(a_input)}') # str

Please enter an int: 14
the inputted int is: 14
type of inputted value:<class 'str'>

In [24]:
# eval (remove the quotation)
a_eval = eval(a_input)
print(f'a_eval: {a_eval}')
print(f'type of a_eval: {type(a_eval)}')

a_eval: 14
type of a_eval: <class 'int'>

In [25]:
# 單行注解

"""
多
行
注
解
"""

'\n多\n行\n注\n解\n'