tuple

In [1]:
fruit = ('apple', 'banana', 'orange') # unable to modify, but the other operations are the same as list

In [2]:
# 打包
def package(x):
  return x**2, x**3

print(package(3))

(9, 27)

In [5]:
id = [1601, 1602, 1603]
name = ['Peter', 'Brian', 'Lucas']
list(zip(id, name)) # zip打包

[(1601, 'Peter'), (1602, 'Brian'), (1603, 'Lucas')]

In [7]:
for i, n in zip(id, name):
  print(f'The student whose id is {i} is called {n}')

The student whose id is 1601 is called Peter
The student whose id is 1602 is called Brian
The student whose id is 1603 is called Lucas

dict

In [14]:
stu = {1601: 'Peter', 1602: 'Brian', 1603: 'Lucas'} # key cannot be repeated
print(f'length: {len(stu)}')

length: 3

In [15]:
# find value
stu[1603]

'Lucas'

In [17]:
# del fromm dict
stu = {1601: 'Peter', 1602: 'Brian', 1603: 'Lucas'}
del stu[1602]
print(stu)

{1601: 'Peter', 1603: 'Lucas'}

In [20]:
# modify
stu = {1601: 'Peter', 1602: 'Brian', 1603: 'Lucas'}
stu[1602] = 'ian'
print(stu)

{1601: 'Peter', 1602: 'ian', 1603: 'Lucas'}

In [22]:
# get key and value
stu = {1601: 'Peter', 1602: 'Brian', 1603: 'Lucas'}
k = list(stu.keys())
v = list(stu.values())
print(f'keys list: {k}')
print(f'values list: {v}')

keys list: [1601, 1602, 1603]
values list: ['Peter', 'Brian', 'Lucas']

In [23]:
# items (整個k,v)
stu = {1601: 'Peter', 1602: 'Brian', 1603: 'Lucas'}
for k, v in stu.items():
  print(k, v)

1601 Peter
1602 Brian
1603 Lucas

set

In [25]:
chin_a = {'Ian', 'Lam', 'Peter', 'Mia', 'Jack'}
math_a = {'Ian', 'Peter', 'Mia', 'Benedict'}

In [26]:
# 都包含於2個set (chin_a AND math_a)
chin_a & math_a

{'Ian', 'Mia', 'Peter'}

In [27]:
# 至少包含於1個set (chin_a OR math_a)
chin_a | math_a

{'Benedict', 'Ian', 'Jack', 'Lam', 'Mia', 'Peter'}

In [28]:
# 只存在於其中一個set
chin_a ^ math_a

{'Benedict', 'Jack', 'Lam'}