In [41]:
import pandas as pd
import numpy as np

In [7]:
# Series
data = pd.Series([1, 2.6, '3', 4, 5.5], index=['a', 'b', 'c', 'd', 'e'])
print(data)

a      1
b    2.6
c      3
d      4
e    5.5
dtype: object

In [8]:
# 用series創建dataframe
population_dict = {
    'Beijing': 2154,
    'ShangHai': 2424,
    'ShenZhen': 1303
}
population = pd.Series(population_dict)
df = pd.DataFrame(population, columns=['population'])

In [10]:
df.values

array([[2154],
       [2424],
       [1303]])

In [11]:
df.index

Index(['Beijing', 'ShangHai', 'ShenZhen'], dtype='object')

In [12]:
df.columns

Index(['population'], dtype='object')

In [13]:
df.shape

(3, 1)

In [15]:
# get columns
df['population']

Beijing     2154
ShangHai    2424
ShenZhen    1303
Name: population, dtype: int64

In [18]:
# get rows - .loc
df.loc[['Beijing', 'ShenZhen']]

          population
Beijing         2154
ShenZhen        1303

In [21]:
# get rows - .iloc
df.iloc[1:2]

          population
ShangHai        2424

In [23]:
df2 = pd.DataFrame(['one', 'two', 'three', 'four', 'five', 'six'], columns=['num'])

In [26]:
df2['num'].isin(['two', 'four'])

0    False
1     True
2    False
3     True
4    False
5    False
Name: num, dtype: bool

In [27]:
df2

     num
0    one
1    two
2  three
3   four
4   five
5    six

In [30]:
# 修改值
df2.iloc[2] = 'three_three'

In [31]:
df2

           num
0          one
1          two
2  three_three
3         four
4         five
5          six

In [34]:
# 查看前幾行
df.head(3) # 默認是5行

          population
Beijing         2154
ShangHai        2424
ShenZhen        1303

In [35]:
# 查看最後幾行
df.tail(3) # 默認是5行

          population
Beijing         2154
ShangHai        2424
ShenZhen        1303

In [36]:
# 查看總體信息
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Beijing to ShenZhen
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   population  3 non-null      int64
dtypes: int64(1)
memory usage: 156.0+ bytes

In [46]:
df3 = pd.DataFrame(np.array([
    [1, np.nan, 2],
    [np.nan, 3, 4],""
    [5, 6, np.nan],
    [7, 8, 9]
]), columns=['A', 'B', 'C'])

In [47]:
# 檢查缺失
df3.isnull()

       A      B      C
0  False   True  False
1   True  False  False
2  False  False   True
3  False  False  False

In [48]:
# 有缺失值的row都del
df3.dropna()

     A    B    C
3  7.0  8.0  9.0

In [49]:
# 有缺失值的col都del
df3.dropna(axis='columns')

     A    B    C
0  1.0  NaN  2.0
1  NaN  3.0  4.0
2  5.0  6.0  NaN
3  7.0  8.0  9.0

In [51]:
# 缺失值填充 (自行設定值)
df3.fillna(value=5)

     A    B    C
0  1.0  5.0  2.0
1  5.0  3.0  4.0
2  5.0  6.0  5.0
3  7.0  8.0  9.0

In [55]:
# 缺失值填充 (mean值)
df3.fillna(value=df3.mean())

          A         B    C
0  1.000000  5.666667  2.0
1  4.333333  3.000000  4.0
2  5.000000  6.000000  5.0
3  7.000000  8.000000  9.0

In [56]:
def make_df(cols, idx):
  data = {c: [str(c)+str(i) for i in idx] for c in cols}
  print(data)
  return pd.DataFrame(data, idx)

In [63]:
df4 = make_df('AB', [1, 2])
df5 = make_df('AB', [3, 4])
df6 = make_df('AB', [1, 2])
df7 = make_df('BC', [1, 2])

{'A': ['A1', 'A2'], 'B': ['B1', 'B2']}
{'A': ['A3', 'A4'], 'B': ['B3', 'B4']}
{'A': ['A1', 'A2'], 'B': ['B1', 'B2']}
{'B': ['B1', 'B2'], 'C': ['C1', 'C2']}

In [61]:
# 垂直合拼
pd.concat([df4, df5])

    A   B
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4

In [64]:
# 對齊合拼merge
pd.merge(df6, df7)

    A   B   C
0  A1  B1  C1
1  A2  B2  C2

groupby

In [65]:
df = pd.DataFrame({
    'key': ['A', 'B', 'A', 'A', 'B', 'C'],
    'data1': range(6),
    'data2': np.random.randint(0, 10, size=6)
})

In [66]:
df

  key  data1  data2
0   A      0      1
1   B      1      6
2   A      2      4
3   A      3      3
4   B      4      3
5   C      5      6

In [67]:
# 用key分組
df.groupby('key')

In [68]:
df.groupby('key').sum() # 找sum()

     data1  data2
key
A        5      8
B        5      9
C        5      6

In [69]:
df.groupby('key').mean() # 找mean()

        data1     data2
key
A    1.666667  2.666667
B    2.500000  4.500000
C    5.000000  6.000000

In [70]:
df.groupby('key')['data2'].sum() # 只取其中一列出來做sum()

key
A    8
B    9
C    6
Name: data2, dtype: int64

In [72]:
# 分組再找'min', 'median', 'max'
df.groupby('key').agg(['min', 'median', 'max'])

    data1            data2
      min median max   min median max
key
A       0    2.0   3     1    3.0   4
B       1    2.5   4     3    4.5   6
C       5    5.0   5     6    6.0   6